<div class="container wrapper">
    <div class="row">

        <!-- Credentials table -->
        <div class="col-md-12">
            <div class="inner">
                <h3>Credentials</h3>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Description</th>
                            <th scope="col">Updated date</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let credential of credentialList">
                            <th scope="row">{{credential.id}}</th>
                            <td>{{credential.name}}</td>
                            <td>{{credential.description}}</td>
                            <td>{{credential.updated_at}}</td>
                            <td>
                                <!-- <button type="button" class="btn btn-success btn-sm move-right" [routerLink]="['/edit-issue/', credential.id]">Edit</button>
                                <button type="button" class="btn btn-danger btn-sm" (click)="deleteIusse(credential)">Remove</button> -->
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>